.gradle/
.idea/
gradle/
gradlew
gradlew.bat

documentation/DOER/doer-blx\.bib

documentation/DOER/doer\.aux

documentation/DOER/doer\.bbl

documentation/DOER/doer\.blg

documentation/DOER/doer\.log

documentation/DOER/doer\.run\.xml

documentation/DOER/doer\.synctex\.gz

documentation/Thesis/thesis\.toc

documentation/Thesis/thesis-blx\.bib

documentation/Thesis/thesis\.aux

documentation/Thesis/thesis\.bbl

documentation/Thesis/thesis\.blg

documentation/Thesis/thesis\.log

documentation/Thesis/thesis\.run\.xml

documentation/Thesis/thesis\.synctex\.gz

documentation/Thesis/thesis\.out
